

@font-face {
  font-family: 'MyCustomFont';
  src: url('my-font.otf') format('opentype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  background: #fff;
  font-family: 'Arial', sans-serif;
  direction: rtl;
}

#loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.logo-text-wrapper {
  display: flex;
  align-items: center; /* align items on the same line */
  gap: 0.1px; /* space between logo and text */
  text-align: center;
}

.logo {
  width: 200px;
  height: 200px;
  opacity: 0;
  animation:
    logoAppear 0.5s forwards,
    
    flash 1s infinite 1s;
}

.loading-text {
  font-family: 'MyCustomFont', sans-serif; /* Apply custom font here */ 
  color: black;
  font-size: 24px;
  opacity: 0;
  animation:
    textAppear 0.8s forwards,
    textMoveLeft 0.5s forwards;
  animation-delay: .5s; /* delay to sync with logo movement */
}

.loading-text p {
  margin-bottom: 1px;
}

/* Animations */
@keyframes logoAppear {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

@keyframes logoMoveRight {
  to { transform: translateX(300px); }
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

@keyframes textAppear {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes textMoveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-100px); }
}
